<footer class="bg-dark text-light py-4 mt-4">
  <div class="container">
    <div class="row">
      <!-- Logo và Giới thiệu -->
      <div class="col-md-4">
        <h5>About Us</h5>
        <p>
          We provide quality courses and resources to help you enhance your skills and achieve your goals.
        </p>
      </div>

      <!-- Các liên kết nhanh -->
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/" class="text-light text-decoration-none">Home</a></li>
          <li><a href="/courses" class="text-light text-decoration-none">Courses</a></li>
          <li><a href="/about" class="text-light text-decoration-none">About Us</a></li>
          <li><a href="/contact" class="text-light text-decoration-none">Contact</a></li>
        </ul>
      </div>

      <!-- Mạng xã hội -->
      <div class="col-md-4">
        <h5>Follow Us</h5>
        <a href="#" class="text-light me-3">
          <i class="bi bi-facebook"></i> Facebook
        </a>
        <a href="#" class="text-light me-3">
          <i class="bi bi-twitter"></i> Twitter
        </a>
        <a href="#" class="text-light">
          <i class="bi bi-instagram"></i> Instagram
        </a>
      </div>
    </div>
    <hr class="text-light">
    <div class="text-center">
      <p>&copy; 2025 YourWebsite. All rights reserved.</p>
    </div>
  </div>
</footer>
