<nav class="navbar navbar-expand-lg bg-dark  " data-bs-theme="dark">
  <div class="container-fluid container">
    <a class="navbar-brand" href="/">KaNaDi Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
         
        
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://scontent.fdad1-3.fna.fbcdn.net/v/t39.30808-1/471612996_1028278745702571_8856712871679153961_n.jpg?stp=dst-jpg_s200x200_tt6&_nc_cat=110&ccb=1-7&_nc_sid=e99d92&_nc_ohc=oF7CNcCisdEQ7kNvgHcTJwj&_nc_oc=AdhY88ydlzPYqnXo1kIzNHgk9HxAHcfLxmgwdW4QOEVG8cYqsnELt_FVSN5tUI3drro&_nc_zt=24&_nc_ht=scontent.fdad1-3.fna&_nc_gid=AAy33j3gWz7kCWDea4087s5&oh=00_AYDlSXi33zHq56TOwQ8A0k3djD4llyRibzbK0l8WK3-ZtQ&oe=678E9906" class="user-avt" alt="">
             An Huynh
            </a>
            <ul class="dropdown-menu">
            <li class="">
            <a class="dropdown-item " href="/courses/createCourses">Đăng khóa học</a>
          </li>
              <li><a class="dropdown-item " href="/me/stored/courses">Khóa học của tôi</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
            </ul>
          </li>
          </ul>
    </div>
  </div>
</nav>